/* small device */
@media screen and (max-width: 576px) {
    header,
    main,
    form-container
    {
        width: 100%;
        padding: 10px;
        background-image: none;
    }
    .logo{
        margin-bottom: 20px;
    }
    nav,
    .project-container,
    .about-me-container
    {
        width: 100%;
        flex-direction: column;
        margin-bottom: 30px;
    }
    nav ul,
    .about-me-container
    {
        gap: 15px;
    }
    .btn-primary{
        margin-bottom: 30px;
    }
    .responsive-image{
        display: block;
        width: 100%;
        padding-right: 60px;
    }
    .project-image img{
        width: 95%;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .about-me-image{
        width: 100%;
    }
}