/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Nunito:wght@300;400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&family=Space+Mono:wght@400;700&family=Work+Sans&display=swap');

/* font{
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* shared styles */
span{
    color: #FDC435;
}
.btn-primary{
    width: 130px;
    height: 57px;
    border-radius: 8px;
    background: #FDC435;
    margin-top: 32px;
    color: #25282B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-right: 24px;
}


/* header */
header{
    padding: 30px 120px;
    background-image: url(../assets/images/pexels-artem-beliaikin-1832323-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 144px;
}
.logo{
    color: #25282B;
    font-family: Comfortaa;
    font-size: 2rem;
    font-weight: 700;
    line-height: 180%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 166px;
}
nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #25282B;
    font-family: Comfortaa;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 180%;
}
/* header content */
.designer{
    color: #FDC435;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.title{
    color: #25282B;
    max-width: 486px;
    font-family: Playfair Display;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 12px 0 32px;
}
.subtitle{
    max-width: 486px;
    color: #828282;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.responsive-image{
    display: none;
}

/* main part */
main{
    padding: 0 226px 0 222px;
    margin-bottom: 120px;
}
main .title{
    text-align: center;
    margin: 0 auto 88px;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.reverse
{
    flex-direction: row-reverse;   
}
.border-left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.border-right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.project-image img{
    max-width: 496px;
    max-height: 524px;
    margin-bottom: 78px;
}

.project-desc{
    max-width: 496px;
    max-height: 524px;
}
.project-title{
    color:  #25282B;
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%; /* 60px */
}
.project-subtitle{
    color: #828282;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin: 24px 0;
}
.project-btn{
    width: 207px;
    height: 47px;
    padding: 8px 24px;
    border-radius: 24px;
    border: 1px solid #25282B;
    color: #25282B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
/* about me */
.about-me-container{
    margin: 100px 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
}
.about-me-title{
    color: #333;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%; /* 62.4px */
}
.about-me-subtitle{
    max-width: 586px;
    color: #828282;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin: 32px 0;
}
.about-me-image{
    max-width: 524px;
    max-height: 524px;
    background-color: #FDC435;
    border-radius: 50%;
}
/* form */
.form-container{
    width: 400px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.form-container p{
    font-family: Comfortaa;
    margin-bottom: 8px;
    height: 22px;
}
.form-container input, textarea{
    width: 340px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E8ECF4;
    background: #FFF;
    margin-bottom: 8px;
}
.form-container textarea{
    height: 130px;
}
.form-container .btn-primary{
    margin-left: 210px;
}
/* footer part */
footer{
    text-align: center;
    margin-bottom: 20px;
}
footer img{
    margin: 0 30px;
}
footer p{
    margin: 32px;
    color: #828282;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
}